<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Login | Sign Up</title>
<link rel="stylesheet" th:href="@{/static/bulma.min.css}" />
</head>
<body>

	<section class="hero is-fullheight">
		<div class="hero-body">
			<div class="container">
				<div class="columns is-centered">
					<div class="column is-6-tablet is-5-desktop is-4-widescreen">
						<h1 class="title">Login Form</h1>
						<div th:if="${param.error} != null" class="notification is-danger">Email
							and password doesn't match.</div>
						<div th:if="${param.logout} != null" class="notification is-info">You've
							been successfully logged out.</div>
						<div th:if="${param.signup} != null"
							class="notification is-primary">
							You've been successfully registered as user. Now, you can
							<strong>login</strong>
							.
						</div>
						<form th:action="@{/login}" method="POST" class="box">
							<div class="field">
								<label class="label">Email</label>
								<div class="control">
									<input type="email" name="username"
										placeholder="e.g. abc@example.com" class="input" />
								</div>
							</div>
							<div class="field">
								<label class="label">Password</label>
								<div class="control">
									<input type="password" name="password" placeholder="*******"
										class="input" />
								</div>
							</div>
							<div class="field buttons">
								<button type="submit"
									class="button is-primary is-outlined is-rounded is-fullwidth">Login</button>
								<a th:href="@{/sign-up}"
									class="button is-link is-outlined is-rounded is-fullwidth">Sign
									Up</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>